body {
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 375px;
}

p {
  font-size: 16px;
}

hr {
  width: 75%;
  border: 0;
  height: 1px;
  background-color: hsl(220, 14%, 75%);
  margin-top: 2px;
}

.content-wrap {
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.desktop-navbar {
  display: flex;
  flex-direction: row;
}

.store-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.tabs {
  display: flex;
  flex-grow: 1;
  margin: 0px 20px;
  color: hsl(219, 9%, 45%);
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid transparent;
  height: 100px;
  font-size: 16px;
  margin: 0px 20px;
}

.tab:hover {
  border-bottom: 3px solid hsl(26, 100%, 55%);
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}

.user-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.cart-button {
  all: unset;
}

.cart-count {
  position: relative;
  top: -30px;
  left: 10px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.user-avatar {
  display: flex;
  align-content: center;
  height: 40px;
  width: 40px;
  margin: 0px 20px;
  border: 2px solid transparent;
  border-radius: 50px;
}

.user-avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50px;
  transition: 0.2s;
}

/* Product Images */
.product-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 100px 0px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-button {
  all: unset;
  cursor: pointer;
}

.lightbox-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.lightbox-current-preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lightbox-change-img-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px -220px;
  background-color: white;
  border-radius: 50px;
  padding: 15px;
  z-index: 1000;
}

.lightbox-close-button button {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 30px;
  height: 30px;
  margin: 125px 0px 20px 575px;
  cursor: pointer;
}

.lightbox-close-button img {
  width: 30px;
  height: 30px;
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(305deg) brightness(104%) contrast(100%);
}

.lightbox-close-button img:hover {
  filter: invert(52%) sepia(98%) saturate(1452%) hue-rotate(347deg) brightness(100%) contrast(102%);
  transition: 0.2s;
}

.lightbox-change-img-button svg {
  width: 30px;
  height: 30px;
}

.lightbox-change-img-button img:hover {
  filter: invert(52%) sepia(98%) saturate(1452%) hue-rotate(347deg) brightness(100%) contrast(102%);
  transition: 0.2s;
}

.lightbox-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.lightbox-image img {
  width: 60%;
  height: 60%;
}

.lightbox img {
  border-radius: 15px;
}

.lightbox-preview-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.lightbox-preview-row button {
  all: unset;
  background-color: transparent;
}

.lightbox-preview-row img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 0px solid transparent;
  margin: 30px;
}

.lightbox-preview-row img:hover {
  cursor: pointer;
  opacity: 0.6;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transition: 0.2s;
}

.current-preview img {
  border-radius: 10px;
  width: 425px;
  height: 425px;
}

.product-preview-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}
.product-preview-row button {
  all: unset;
}

.product-preview-row img {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  border: 2px solid transparent;
}

.selected-preview img {
  border: 2px solid hsl(26, 100%, 55%, 1);
  opacity: 0.5;
}

.product-preview-row img:hover {
  cursor: pointer;
  opacity: 0.5;
  border-radius: 20px;
  transition: 0.2s;
}

/* Product Details */
.product-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 100px;
}

.product-company {
  color: hsl(26, 100%, 55%);
  font-weight: 600;
  text-transform: uppercase;
}

.product-title {
  font-size: 32px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.product-description {
  color: hsl(219, 9%, 45%);
  margin: 0px 0px 20px 0px;
}

.product-pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.discount-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(25, 100%, 94%);
  color: white;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin: 0px 20px 0px 0px;
}

.discount-box p {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}

.current-price {
  font-size: 32px;
  font-weight: 700;
  margin: 0px 20px 0px 0px;
}

.product-original-price {
  font-weight: 700;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  margin: 5px 20px 0px 0px;
}

.purchasing-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.purchasing-options button {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.quantity-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.quantity-update p {
  color: hsl(26, 100%, 55%);
  font-size: 25px;
  font-weight: 700;
}

.quantity-update:hover p {
  color: hsl(26, 100%, 55%, 0.5);
  transition: 0.2s;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(26, 100%, 55%);
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin: 0px 20px 0px 20px;
}

.add-to-cart:hover {
  background-color: hsl(26, 100%, 45%, 0.6);
  transition: 0.2s;
  box-shadow: 0px 5px 15px hsla(26, 100%, 45%, 0.4);
  cursor: pointer;
}

.add-to-cart p {
  white-space: nowrap;
  color: white;
  font-weight: 700;
}

.add-to-cart img {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
}

/* User Cart */
.user-cart {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 325px;
  box-shadow: 0px 20px 29px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

/* Cart Details  */
.user-cart-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-cart-contents hr {
  width: auto;
  height: 1px;
  background-color: hsl(220, 14%, 75%, 0.7);
}

.user-cart-contents button {
  all: unset;
}

.cart-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin-top: 10px;
}

.cart-title-break {
  width: 100%;
  height: 1px;
  background-color: hsl(220, 14%, 75%, 0.7);
  margin: 5px 0px 15px 0px;
}

/* Item Details */
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  margin: 0px 0px;
}

.cart-item-details p {
  margin: 0px 0px;
}

.cart-item-name {
  color: hsl(219, 9%, 45%);
}

.cart-item-price {
  color: hsl(219, 9%, 45%);
}

.cart-item-quantity {
  color: hsl(219, 9%, 45%);
}

.cart-item-total-pricing {
  display: flex;
  flex-direction: row;
}

.cart-item-total {
  font-weight: 700;
}

.cart-item-removal-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.trash-icon img {
  width: 13px;
  height: 17px;
}

/* Checkout Button */
.checkout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: hsl(26, 100%, 55%);
  border-radius: 5px;
  margin: 20px 0px 5px 0px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: hsl(26, 100%, 45%, 0.6);
  transition: 0.2s;
  box-shadow: 0px 5px 15px hsla(26, 100%, 45%, 0.4);
}

.checkout-button p {
  margin: 0px 10px;
  color: white;
  font-weight: 700;
}

/* Empty Cart */
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

/* Mobile Styling */
.mobile-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* -------- Mobile --------*/
@media screen and (max-width: 375px) {
  /* Navbar */
  .navbar {
    position: sticky;
    top: 0px;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
  }

  .navbar hr {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    background-color: white;
    border: transparent;
    margin-left: 25px;
  }

  .menu-close-icon {
    all: unset;
    width: 100%;
    background-color: white;
  }

  .menu-close-icon img {
    background-color: white;
    border: transparent;
    width: 15px;
    height: 15px;
    margin-bottom: 20px;
  }

  .store-logo img {
    margin: 0px 0px 0px 25px;
  }

  .menu-open {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
  }

  .menu-open-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 1001;
    padding: 20px;
  }

  .menu-open a {
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 700;
  }

  .menu-open p {
    line-height: 0;
  }

  .cart-icon {
    margin-top: 10px;
  }

  .user-avatar {
    margin: 0px 10px 0px 10px;
    width: 30px;
    height: 30px;
  }

  .user-cart {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 900;
    box-shadow: 0px 20px 29px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    border-radius: 10px;
  }

  /* Product images */
  .product-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0px;
    width: 100%;
  }

  .product-preview img {
    border-radius: 0px;
    margin-top: -50px;
  }

  .product-information {
    margin: 0px 25px 0px 40px;
  }

  .button-overlay {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-25%, -50%);
    z-index: 800;
    width: 100%;
  }

  .next-back-buttons button {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: white;
    border-color: transparent;
  }

  .next-back-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .next-back-buttons img {
    width: 10px;
    height: 13px;
    margin: 0px;
  }

  .lightbox {
    display: none;
  }

  .product-preview-row {
    display: none;
  }

  /* Product pricing */
  .product-pricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
  }

  .product-original-price {
    justify-self: end;
    margin: 0px;
  }

  /* Quantity selector */
  .purchasing-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quantity-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: hsl(223, 64%, 98%);
    border-radius: 5px;
    margin: 10px 0px;
  }

  .quantity-selector img {
    margin: 0px;
    font-weight: 700;
  }

  /* Add to cart button */
  .add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .add-to-cart img {
    margin: 0px 15px;
  }

  /* Cart */
  .user-cart-contents hr {
    width: auto;
    height: 2px;
    background-color: hsl(220, 14%, 75%, 0.7);
    margin: 0px 0px 15px 0px;
  }

  .cart-title {
    font-weight: 700;
  }

  .empty-cart p {
    font-weight: 700;
    color: hsl(219, 9%, 45%);
  }
}
