body {
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 375px;
}

p {
  font-size: 16px;
}

hr {
  width: 75%;
  border: 0;
  height: 1px;
  background-color: hsl(220, 14%, 75%);
  margin-top: 40px;
}

.navbar {
  width: 75%;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar store-logo {
  width: 50%;
}

.tabs {
  display: flex;
  flex-grow: 1;
  margin: 0px 20px;
  color: hsl(220, 14%, 75%);
}

.tab {
  font-size: 16px;
  margin: 0px 20px;
}

.user-section {
  display: flex;
  flex-direction: row;
}

.cart-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
}

.user-avatar {
  display: flex;
  align-content: center;
  height: 40px;
  width: 40px;
  margin: 0px 20px;
}
